<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.1"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <data-source>
        <name>java:jboss/datasources/BirdsDS</name>
        <class-name>org.postgresql.xa.PGXADataSource</class-name>
        <url>jdbc:postgresql_postGIS://172.30.69.18:5432/birds</url>
        <user>uservyxtc</user>
        <password>aN3O0iaUnMBANS5cexXN</password>
        <transactional>true</transactional>
        <isolation-level>TRANSACTION_READ_COMMITTED</isolation-level>
        <initial-pool-size>10</initial-pool-size>
        <max-pool-size>20</max-pool-size>
        <min-pool-size>5</min-pool-size>
        <max-idle-time>120</max-idle-time>
        <max-statements>10</max-statements>
    </data-source>
</web-app>
